#loading-overlay
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh

    background: #171717
    opacity: 0.8

    z-index: 1000


.container
    height: 100%
    width: 100% !important
    max-width: none !important

    padding: 10px


.waiting
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center


.players-list-container
    &.is-vertical
        .players-list
            height: 100%

            display: grid
            grid-template-rows: repeat(auto-fit, 50px)
            grid-gap: 10px
            align-content: start

            .player
                padding: 10px 3px

                &:not(:last-child)
                    border-bottom: 1px dotted rgba(255, 255, 255, 0.15)

                .player-name
                    flex: 0 0 14ex

    &.is-horizontal
        margin-top: auto
        margin-bottom: 2ex

        .players-list
            width: 100%

            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center

            .player
                padding: 0 3ex
                margin: 1ex 0
                
                &:not(:last-child) 
                    border-right: 1px dotted rgba(255, 255, 255, 0.15)

    .player
        .player-info
            margin-left: auto
            margin-right: 7px

            opacity: 0.7

            display: flex
            flex-direction: row

            .player-tags
                display: flex
                align-items: center
                align-content: center
                flex-direction: row
                flex-shrink: 0
