{% extends "_bases/base.jinja2" %}

{% block title %}{{ _('results_title') }}{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='libs/frappe-charts.min.iife.js') }}"></script>

    <style>
        .results {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;
        }

        .results h3 {
        	padding-top: 15px;
        	padding-bottom: 10px;
        }

        .results .players-results {
            width: 80%;

        	display: flex;
        	flex-direction: row;
        	flex-wrap: wrap;
        	justify-content: center;
        }
        .results .players-results .player {
            flex: 0 0 30ex;

            display: flex;
            flex-wrap: wrap;

        	margin: 10px;

    	    background-color: #323333;
    	    box-shadow: 1px 1px 5px #171717;
        }
        .results .players-results .player * {
        	margin: 5px;
        }
        .results .players-results .player .name {
            font-size: 90%;
        }
        .results .players-results .player .marker {
        	margin: 0;
            margin-left: auto;

            font-size: 170%;
            color: #eaeaea;
            background-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0) 0%,
                var(--color) 25%,
                var(--color) 100%
            );

            display: flex;
            padding-left: 14px;
            padding-right: 3px;
        }
        .results .players-results .player .points {
            margin: 0;

            flex-basis: 100%;

            text-align: center;
            background-color: #3D3D3D;
        }

        .results #chart {
            width: calc(30*25px);
            margin: 2ex 0;
        }

        .results .chart-container .axis {
    	    fill: #737984;
        }
        .results .chart-container .line-vertical,
        .results .chart-container .line-horizontal {
        	stroke: #41444b !important;
        }
        .results .chart-container .legend-dataset-text {
        	text-overflow: ellipsis;
            overflow: hidden;
        }
        .results .chart-container .chart-legend {
        	display: none;
        }

        .results .chart-container .y.axis {
        	display: none;
        }
        .results .chart-container .comparison {
        	background-color: #383838;
        }
        .results .chart-container .svg-pointer {
        	border-top-color: #383838;
        }
    </style>

    <div class="results">

        <h1 class="title is-2">{{ _('results_title') }}</h1>

        <div class="players-results">
            {% for res in match.results %}
                <div class="player">
                    <div class="picture" style="background-image: url({{ res.player.avatar_url }})"></div>
                    <div class="name" style="color: {{ res.player.color }};">
                        {{ res.player.name }}
                    </div>
                    {% if loop.index == 1 %}
                        <div class="marker" style="--color: {{ res.player.color }};">
                            <i class="las la-trophy"></i>
                        </div>
                    {% endif %}
                    <div class="points">{{ res.points_history[-1] }} {{ _('points_label') }}</div>
                </div>
            {% endfor %}
        </div>

        <div id="chart"></div>

        <a class="button is-primary" href="/">
            <span>{{ _('back_to_menu') }}</span>
            <span class="icon">
                <i class="las la-angle-double-right"></i>
            </span>
        </a>

    </div>

    <script type="text/javascript">
        const data = {
            labels: [
                {% for _ in match.results[0].points_history %}
                    {% if loop.index == 0 %}
                        '',
                    {% else %}
                        '{{ loop.index }}',
                    {% endif %}
                {% endfor %}
            ],
            datasets: [
                {% for res in match.results %}
                    {
                        name: "{{ res.player.name }}",
                        values: [
                            {{ res.points_history | join(',') }}
                        ]
                    },
                {% endfor %}
            ]
        }

        const chart = new frappe.Chart("#chart", {
            data: data,
            type: 'line',
            height: 250,
            colors: [
                {% for res in match.results %}
                    '{{ res.player.color }}',
                {% endfor %}
            ],
            axisOptions: {
                yAxisMode: 'tick'
            },
            lineOptions: {
                hideDots: true
            },
            tooltipOptions: {
                formatTooltipX: d => d ? '{{ _('round_label') }} ' + d : '',
                formatTooltipY: d => d + ' {{ _('points_label') }}',
            }
        })
    </script>
{% endblock %}
