<div class="cards"  style="--primary-color: {{ czar_color }}">
    <div class="deck czar-deck czar-result">
        {% for ps in round_player_states %}
            {% set is_winning_card = winning_card_no == loop.index-1 %}
            <div class="card
                            {% if is_winning_card %}selected{% endif %}
                            {% if ps.selected_card.was_blank %}card-was-blank{% endif %}
            ">
                <div class="tag card-head">
                    <div class="player">
                        <div class="picture" style="background-image: url({{ ps.player.avatar_url }})"></div>
                        <div class="name" style="color: {{ ps.player.color }};">
                            {{ ps.player.name }}
                        </div>
                    </div>
                </div>
                <div class="card-content scrollable">
                    <div>{{ ps.selected_card.text }}</div>
                </div>
                {% if ps.selected_card.was_blank %}
                    <span class="icon pen-icon" style="color: {{ ps.player.color }};">
                        <i class="las la-pen"></i>
                    </span>
                {% endif %}
                {% if is_winning_card %}
                    <div class="tag card-bottom">
                        <i class="las la-lg la-trophy"></i>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if is_czar %}
        <div class="deck czar-deck">
            <button onclick="emitPlay({'action':'czar_finish'}, this)" class="button is-primary">
                <span>{{ _('next_round') }}</span>
                <span class="icon">
                    <i class="las la-angle-double-right"></i>
                </span>
            </button>
        </div>
    {% endif %}

</div>
