{% from "games/cah/partials/card-hand.jinja2" import render_card_hand %}

<div class="cards">
    {{ render_card_hand(
        player_state.hand,
        player_state.selected_card,
        true,
        player_state.selected_card,
        player_state.selected_card and (player_state.hand | length) > 0,
        player_state.remaining_blank_cards
    ) }}
</div>
