$width-breakpoint: 500px


html, body
  overflow-y: auto
    
.container
    padding: 0 2ex

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    & > .scrollable
        width: 100%

.level
    max-width: 700px

    margin: 0 1ex 5ex 1ex !important
    @media (max-width: $width-breakpoint)
        margin-bottom: 2ex !important

    display: flex
    flex-wrap: wrap
    justify-content: space-around

    & > *
        margin-bottom: 2ex
        &:not(:last-child)
            margin-right: 2ex


#play-area
    margin-top: 5ex
    @media (max-width: $width-breakpoint)
        margin-top: 2ex


#number
    $bg-color: #3a3a3a
    $pointer-length: 30px

    z-index: 100

    padding: 3ex 5ex

    @media (max-width: $width-breakpoint)
        padding: 2ex

    color: #efefef
    background-color: $bg-color
    border-radius: 5px 3px

    filter: drop-shadow(2px 2px 6px darken($bg-color, 15%))

    display: inline-flex
    flex-direction: row
    align-items: center

    p
        padding-right: 1ex

    .title
        margin-bottom: 0
        padding-right: 2ex

        flex: auto 0 0

    .dropdown-trigger
        @media (hover: none)
            display: none

        .icon
            opacity: 0.6

    .dropdown-menu
        left: 130%
        top: 20%

    &:after
        content: ""

        z-index: -1
        position: absolute
        top: 100%
        right: 25px
        width: $pointer-length * 0.7
        height: $pointer-length

        background-color: $bg-color
        clip-path: polygon(0 0, 100% 100%, 85% 0)


#bingo-card
    $btn-size: 60px
    $gap-size: 7px
    $bg-color: #1f1f1f

    justify-content: center

    .button
        position: relative

        width: $btn-size
        height: $btn-size

        @media (max-width: $width-breakpoint)
            $btn-size: 45px
            width: $btn-size
            height: $btn-size

        box-shadow: 2px 2px 4px #212121
        border: 1px solid rgba(200, 200, 200, 0.2)
        background-color: $bg-color

        &:hover:not([disabled])
            border-color: var(--primary-color)
            color: var(--primary-color)

        &[disabled]
            background-color: $bg-color
            opacity: 0.8

        &:not(:last-child)
            margin-right: $gap-size    

    div
        margin-bottom: $gap-size

    .button.marked:after
        position: absolute
        left: 13px

        @media (max-width: $width-breakpoint)
            left: 6px
        
        content: "\f058" // la-check-circle
        font-family: Line Awesome Free
        font-weight: 900
        font-size: 35px
        color: var(--primary-color)

        opacity: 0.7
        transform: rotate(20deg)


#called-numbers
    $width: 3ex
    $gap-size: 2ex

    min-width: 100px
    max-width: ($width + $gap-size) * 7
    &.is-wide
        max-width: ($width + $gap-size) * 15

    display: flex
    flex-direction: row
    flex-wrap: wrap

    div
        position: relative
        z-index: 10

        width: $width
        text-align: center

        margin-bottom: $gap-size * 0.7
        
        &:not(:last-child)
            margin-right: $gap-size

    div:after
        position: absolute
        left: 2px
        top: 10px
        z-index: 9

        content: ""
        
        width: $width * 0.8
        height: 2px
        
        background-color: #ee0000
        opacity: 0.8

        transform: rotate(30deg)

    
#winner-info
    margin-bottom: 2.7ex


#player-list-container
    margin-top: 5ex
