{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('new_SOS_title') }}{% endblock %}

{% block content %}
    <h1 class="title is-2">
        {{ _('new_bingo_title') }}
    </h1>

    <form method="post" id="form">
        {# - TODO: uncomment once someone implemented the uk version
            <h2 class="title is-5">
                {{ _('bingo_mode_selection') }}:
            </h2>
            <div class="input-group checkbox-radio-group">
                <input
                    type="radio" name="type" value="uk" id="type-uk"
                />
                <label for="type-uk">
                    <span>{{ _('bingo_type_british') }}</span>
                </label>
                <input
                    type="radio" name="type" value="us" id="type-us" checked
                />
                <label for="type-us">
                    <span>{{ _('bingo_type_american') }}</span>
                </label>
            </div>
        #}

        <button class="button is-primary is-flex-end" style="margin-top: 7ex;">
            <span>{{ _('start_button') }}</span>
            <span class="icon">
                <i class="las la-angle-double-right"></i>
            </span>
        </button>

    </form>

{% endblock %}
