<div class="waiting">

    {% include "_partials/spinner.jinja2" %}

    <h4 class="title is-4">{{ _('waiting_for_players') }}...</h4>

    {%- if user_is_initiator %}
    <button onclick="emitPlay({'action':'start'}, this)" class="button is-primary">
        <span>{{ _('begin_button') }}</span>
        <span class="icon">
            <i class="las la-angle-double-right"></i>
        </span>
    </button>
    {% endif -%}

</div>
