.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

#play-area
    margin-top: 5ex


.card-pretext
    margin-bottom: 1ex

    text-align: center

    .everyone-tag
        padding: 3px

        color: #a8b4ee
        background-color: #e5cd1477
    
    span:last-child
        margin-left: -2px

.card
    box-shadow: 2px 2px 6px #171717

    padding: 3ex 5ex

    color: #efefef
    background-color: #373737

    border: 1px solid #242424
    border-left: 5px solid var(--card-color)
    border-radius: 5px 3px

.actions-list
    margin-top: 3ex

    display: flex
    flex-direction: column
    align-items: center

    .button
        margin-top: 1ex
