<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Web-Games</title>

    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">

    <script src="{{ url_for('static', filename='libs/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/socket.io.slim.js') }}"></script>

    {% block header %}{% endblock %}
</head>

<body
    {% if user %}
        style="--primary-color: {{ user.color }}"
    {% endif %}
>
    {% block body %}{% endblock %}
</body>

</html>
