.color-header
    width: 100%
    height: 300px

    position: relative

    background-image: url('/static/media/header.jpg')
    background-size: cover
    background-position: center

    .overlay
        position: absolute
        top: 0
        left: 0

        width: 100%
        height: 100%

        $bg-layer1: linear-gradient(150deg, white, transparent 40%)
        $bg-layer2: linear-gradient(var(--primary-color), var(--primary-color))
        $bg-layer3: linear-gradient(170deg, transparent 50%, #23272A)
        background-image: $bg-layer1, $bg-layer2, $bg-layer3
        background-blend-mode: overlay

        opacity: 0.6

.container
    position: relative
    top: -200px
    align-self: center

    margin: 0 100px

    max-width: 1000px

    background-color: #23272A
    box-shadow: 2px 2px 6px #171717

    padding: 35px
    margin-bottom: 50px

.notification
    margin-top: 2em

    ul
        list-style-type: none
    li
        padding: 6px 0
        &:before
            font-family: 'Line Awesome Free'
            font-weight: 900
            padding-right: 3px

    &.error-list
        li:before
            content: "\f071"
