{% extends "_bases/base.jinja2" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
{% endblock %}

{% block body %}
    <div class="color-header">
		<div class="overlay"></div>
	</div>

	<div class="container" id="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
