.container
    display: grid
    grid-template: "black-card play-area" 250px "players-list play-area" auto / 220px auto
    grid-gap: 7px

    #player-list-container
        grid-area: players-list
    #black-card-container
        grid-area: black-card
    #play-area
        grid-area: play-area
    .waiting
        grid-area: play-area

#play-area
    height: 98vh

    display: flex
    flex-direction: column

    > #player-hand-container > .waiting
        margin-top: 21ex

.card
    position: relative

    width: 170px
    height: 200px

    font-size: 90%

    display: flex
    flex-direction: column

    border-radius: 1%
    box-shadow: 2px 2px 6px #171717

    .card-content
        padding: 7px
        padding-right: 10px

        flex: 0px 1 0

    .card-header,
    .card-footer
        display: flex
    
    .card-header
        box-sizing: content-box
        flex: 21px 0 0

        padding: 5px

        .player
            width: 150px
            .picture
                --size: 20px
    
    .card-footer
        margin-top: auto // pushes item to the end of the flexbox

        box-sizing: content-box
        flex: 17px 0 0

        padding: 3px

        font-size: 120%
        justify-content: center

    .overlay
        padding: 0 3px

        display: flex
        flex-direction: row
        align-items: flex-end

        height: 0
        opacity: 0
        transition: opacity 0.5s
    
        .button
            flex: 25px 1 0

            height: 30px
            font-size: 120%

            margin: 0px 3px 6px 3px
            padding: 0

            &:not(:last-child)
                margin-right: 10px

    &:hover .overlay
        height: auto
        opacity: 0.9


.card.black-card
    margin-left: 1.5ex

    width: 190px
    background-color: #161617

    .card-content
        display: block

    .blank
        display: inline-block
        width: 7ex
        border-bottom: 1px solid #a8b4bc
        margin: 0 2px


.cards
    width: 100%

    .deck
        display: grid
        grid-template-columns: repeat(auto-fill, 170px)
        grid-template-rows: repeat(auto-fit, 200px)
        grid-gap: 10px
        align-items: stretch

        .card
            position: relative

            background-color: #4a4b4c
            border-color: #6a6b6c

            &.card-was-blank
                .card-content
                    font-size: 110%
                    font-family: 'Kalam', cursive
                .pen-icon
                    position: absolute
                    right: 10px
                    bottom: 10px
                    color: var(--primary-color)
                    font-size: 170%
                    text-shadow: 1px 1px 5px #2e3032

            &.selected
                border: 4px solid var(--primary-color)
                border-bottom: none

                &.card-was-blank
                    .pen-icon
                        bottom: 30px

                .card-bottom
                    background-color: var(--primary-color)
                    color: #eaeaea
                    height: 2rem
                    .las
                        font-size: 1.5rem

            .card-head
                height: auto
                padding: 1ex 0
                font-size: 0.9rem


#blankButton
    position: relative

    .tag
        position: absolute
        right: -5px
        top: -5px

        opacity: 0.9

#blankCardModal
    input
        font-size: 120%
        font-family: 'Kalam', cursive
        padding-top: 20px

    .message-header
        background-color: #232527


.cards .button
    width: 170px

    margin: 8px 8px 0 0


.cards .czar-deck
    &:last-child
        grid-template-rows: auto

    img.flip 
        width: 142px
        height: 15px

.cards .czar-result
    .card
        &:not(.selected)
            border-top: 4px solid #2e3032

        &.selected.card-was-blank
            .pen-icon
                bottom: 40px


#czar-hand-container
    box-shadow: inset 3px 3px 9px hsla(0, 0%, 4%, 1)
    background: hsla(206, 9%, 12%, 1)

    padding: 2ex

    margin-right: 3ex
    margin-bottom: 3ex

    .hint
        width: 100%
        text-align: center
        font-size: 3ex
        opacity: 50%

    .waiting
        width: 100%


.modal form
    display: flex
    flex-direction: column

    .button 
        align-self: flex-end
