{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('new_CAH_title') }}{% endblock %}

{% block content %}
    <style>
        .decks-list {
            padding-left: 10px;
            max-height: calc(100vh - 420px);
        }
        .decks-list .switch[type=checkbox] {
            position: initial;
            display: none;
        }
    </style>

    <h1 class="title is-2">
        {{ _('new_CAH_title') }}
    </h1>

    <form class="columns" method="post" id="form">
        <div class="column">
            <h2 class="title is-5">
                {{ _('match_settings') }}:
            </h2>
            <div>
                <input id="pointsToWin" name="pointsToWin" type="text" v-model="pointsToWin" placeholder=" ">
                <label for="pointsToWin">{{ _('points_to_win') }}</label>
            </div>
            <div>
                <input id="blanksCount" name="blanksCount" type="text" v-model="blanksCount" placeholder=" ">
                <label for="blanksCount">{{ _('blank_cards_count') }}</label>
            </div>
            <div class="buttons is-right">
                <button class="button is-primary is-flex-end" :disabled="!valid">
                    <span>{{ _('start_button') }}</span>
                    <span class="icon">
                        <i class="las la-angle-double-right"></i>
                    </span>
                </button>
            </div>
            <div class="notification is-danger error-list" v-show="!valid">
                <ul>
                    <li v-show="!pointsValid">
                        {{ _('points_needs_to_be_gt_one') }}.
                    </li>
                    <li v-show="!blanksValid">
                        {{ _('blank_cards_count_needs_to_be_natural_number') }}.
                    </li>
                    <li v-show="!decksValid">
                        {{ _('at_least_one_deck_needs_to_be_selected') }}.
                    </li>
                </ul>
            </div>
        </div>

        <div class="column">
            <h5 class="title is-5">
                {{ _('deck_selection') }}:
            </h5>
            <div>
                <input id="decksFilter" type="text" v-model="searchFilter" placeholder=" ">
                <label for="decksFilter">{{ _('filter_list') }}</label>
            </div>
            <div class="decks-list scrollable">
                {% for deck in deck_names %}
                    <div class="field"
                        v-show="!searchFilter || '{{ deck.name | lower }}'.includes(searchFilter.toLowerCase())"
                    >
                        <input
                            name="selectedDecks" type="checkbox" class="switch is-outlined"
                            {% if deck.is_original %} checked {% endif %}
                            id="{{ 'deck-' + deck.file_name }}" value="{{ deck.file_name }}"
                            @change="cardSelectionChanged"
                        >
                        <label for="{{ 'deck-' + deck.file_name }}">
                            {{ deck.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>

    <script>
        const app = new Vue({
            el: '#form',
            data: {
                pointsToWin: '10',
                blanksCount: '3',
                searchFilter: '',
                selectedDecksCount: {{ deck_names | length }}
            },
            computed: {
                pointsValid () {
                    return parseInt(this.pointsToWin) > 1
                },
                blanksValid () {
                    return parseInt(this.blanksCount) >= 0
                },
                decksValid () {
                    return this.selectedDecksCount > 0
                },
                valid () {
                    return this.pointsValid && this.blanksValid && this.decksValid
                }
            },
            methods: {
                cardSelectionChanged (event) {
                    this.selectedDecksCount += event.target.checked ? 1 : -1
                }
            }
        })
    </script>
{% endblock %}
