/*
 * Originally based on Bulmaswatch's Superhero Theme
 * https://github.com/jenil/bulmaswatch/tree/gh-pages/superhero
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700)
@import url(https://fonts.googleapis.com/css?family=Kalam:400)


// expose colors for text
*
  @each $name, $pair in $colors 
    $color: nth($pair, 1)

    &.text-#{$name}
      color: $color


// adjust global layouting
html, body
  height: 100%

  overflow-y: hidden


// tweak specific parts
body
  font-variant-ligatures: none

.label
  color: $grey-lighter

.message-header.is-primary 
  background-color: $primary

.tooltip.is-tooltip-multiline::before
  min-width: 10rem


// small custom definitions
.ellipsis-text 
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

  min-width: 0
