input[type="text"], input[type="number"]
  width: 100%
  height: 60px

  padding: 12px 7px 0px 7px

  font-size: 16px
  font-weight: 500

  border: 0
  border-bottom: 2px solid $grey
  border-radius: 0

  background: none
  color: $grey-lighter

  transition: all .25s

  $placeholder-top: -30px

  &+ label
    position: relative
    top: $placeholder-top
    left: 3px

    font-size: 85%
    color: $grey

    transition: all .25s

  &:hover
    background: $grey-dark

  &:not(:placeholder-shown), &:focus
    + label
      top: calc(#{$placeholder-top} - 35px)

  &:focus
    background: none
    outline: none

    border-color: $primary

    + label
      color: $primary
