.scrollable 
    overflow-y: auto

    $backgroundColor: transparent
    $thumbColor: #aeaeae

    scrollbar-width: thin
    scrollbar-color: $thumbColor $backgroundColor

    &::-webkit-scrollbar
        width: 7px
    &::-webkit-scrollbar-track
        background: $backgroundColor
    &::-webkit-scrollbar-thumb
        background-color: $thumbColor
        border-radius: 6px
        border: 3px solid $backgroundColor
