{% from "games/bingo/partials/card.jinja2" import render_card %}

<div class="container">

    <div class="level">

        <div class="card" id="number">
            <h2 class="title">{{ current_number.number }}</h2>
            <p>{{ current_number.description }}</p>
            <div class="dropdown is-hoverable is-down">
                <div class="dropdown-trigger">
                    <span class="icon is-small">
                        <i class="las la-question-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="dropdown-menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            {{ current_number.explanation }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if user_is_initiator and next_round_eligable %}
            <button class="button is-primary" onclick="emitPlay({'action':'next_number'}, this)">
                <span>{{ _('bingo_next_number') }}</span>
                <span class="icon">
                    <i class="las la-angle-double-right"></i>
                </span>
            </button>
        {% endif %}

    </div>

    <div class="level">

        {{ render_card(
            player_state, True
        ) }}

        {% if called_numbers|length > 1 %}
            <div id="called-numbers" {{ 'class="is-wide"' if (player_state.card[0] | length) > 5 }}>
                {% for number in called_numbers %}
                    <div>{{ number }}</div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    {% if bingo_eligable %}
        <div class="level">
            <button class="button is-primary" onclick="emitPlay({'action':'win'}, this)">
                <span>{{ _('bingo_win') }}</span>
                <span class="icon">
                    <i class="las la-trophy"></i>
                </span>
            </button>
        </div>
    {% endif %}

</div>
