<div>
    <div class="card" style="--card-color: #{{ card.colour }};">
        {{ card.text_a }}
    </div>

    <div class="actions-list">
        <div>
            Select one of the players as your target:
        </div>

        {% for target in targets %}
            <button class="button is-primary"
                    onclick="emitPlay({'action':'target_selected', 'index':{{ target.index }}}, this)"
            >
                <span>{{ target.player.name }}</span>
                <i class="las la-angle-double-right"></i>
            </button>
        {% endfor %}
    </div>
</div>
