{% macro render_card( player_state, active ) -%}

    <div id="bingo-card">
        {% for row in player_state.card %}
            {% set row_no = loop.index0 %}
            <div>
                {% for number in row %}
                    {% set column_no = loop.index0 %}
                    {% set marked = player_state.marked[row_no][column_no] and number %}
                    {% set available = (not marked) and (number is not none) and active %}
                    <button
                        class="button is-dark {{ 'marked' if marked }}"
                        {{ 'disabled' if not available }}
                        {% if available %}
                            onclick="emitPlay({'action':'mark', 'row':{{ row_no }}, 'column':{{ column_no }}}, this)"
                        {% endif %}
                    >
                        {{ number if number }}
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{%- endmacro %}
