<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Web-Games</title>

    <meta property="og:title" content="Web-Games">
    <meta property="og:description" content="Play some games. With your friends. Integrated with Discord.">
    <meta property="og:image" content="{{ url_for('static', filename='media/bot-image.jpg', _external=True) }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>
    <h1>Placeholder-Site for Bots / Crawlers</h1>
</body>

</html>
