{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('Error') }} {{ code }}{% endblock %}

{% block content %}
    <style type="text/css">
        .color-header .overlay {
            background-image: linear-gradient(
                to bottom right,
                hsla(0, 76%, 40%, 0.7) 0%,
                hsla(7, 76%, 40%, 0.7) 80%,
                hsla(20, 79%, 49%, 0.7) 100%
            );
        }

        .super-title {
            margin: -35px;
            margin-bottom: 15px;
            padding: 25px;

            background: repeating-linear-gradient(45deg,
                rgba(221, 43, 43, .35),
                rgba(221, 43, 43, .35) 25px,
                rgba(221, 43, 43, .25) 25px,
                rgba(221, 43, 43, .25) 50px
            );
        }

        .title:not(:last-child) {
            margin-top: 35px;
            margin-bottom: 7px;
        }

        code {
            position: relative;
            top: -1px;

            font-size: 75%;
            color: #7d8082;
            background-color: #2c2e2f;

            border-radius: 5px;
        }

        .resolution-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .resolution-buttons .button {
            background-color: rgba(221, 43, 43, .35);
        }
        .resolution-buttons .button:not(:last-child) {
            margin-right: 17px;
        }
    </style>

    <div class="super-title">
        <h2 class="title is-2">
            {{ _('Error') }} {{ code }}
        </h2>
    </div>

    <h5 class="title is-5">
        Details:
    </h5>
    <div>
        <span>{{ msg }}</span>
        {% if msg_internal %}
            <span>( <code>{{ msg_internal }}</code> )</span>
        {% endif %}
    </div>

    <h5 class="title is-5">
        {{ _('possible_solutions') }}:
    </h5>
    <div class="resolution-buttons">
        {% for label, link in solutions.items() %}
            <a class="button is-primary" href="{{ link }}">
                <span>{{ label }}</span>
                <span class="icon">
                    <i class="las la-angle-double-right"></i>
                </span>
            </a>
        {% endfor %}
    </div>

{% endblock %}