{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('home_title') }}{% endblock %}

{% block content %}
    <style type="text/css">
        /* STYLING OF THE GREETING */
    	.greeting {
    		padding-bottom: 30px;

    		display: flex;
    		flex-direction: row;
    	}
    	.greeting * {
            flex-shrink: 0;

    		margin-right: 7px;
    	}

        .greeting .player .button {
            margin-top: 5px;

            opacity: 0;
            transition: opacity 0.5s;
        }
        .greeting .player:hover .button {
            opacity: 1;
        }

        /* STYLING GAMES LIST */
        .games-list {
        	display: flex;
        	flex-direction: row;
        	flex-wrap: wrap;

            padding-bottom: 21px;
        }

        .games-list .title {
        	flex-basis: 100%;

        	margin-bottom: 0;
        	padding-bottom: 10px;
        }

        .games-list .card {
        	position: relative;

        	margin-left: 17px;

            background-color: #2a2d30;
        	box-shadow: 2px 2px 6px #171717;

            display: flex;
        	flex-direction: row;
        	align-items: center;

        	padding: 15px 17px;
        }
        .games-list .card .picture {
            --size: 30px;

            width: var(--size);
            height: var(--size);

            flex: var(--size) 0 0;

            background: no-repeat center center;
            background-size: cover;

            margin-right: 7px;
        }

        .card .overlay {
        	position: absolute;
        	left: 0;
        	top: 0;
        	width: 100%;
        	height: 100%;

        	display: flex;
        	flex-direction: row;
        	align-items: center;

        	opacity: 0;
        	transition: opacity 0.5s;
        }
        .card:hover .overlay {
        	opacity: 0.9;
        }
        .card .overlay .button {
        	flex-grow: 1;
        	height: 100%;

        	font-size: 200%;

        	padding: 0;
    	}
    	.card .overlay .button .icon {
    		align-items: center;
    	}

    	.invite-hint {
    		padding-top: 10px;
    	}

        .bonus-buttons {
            position: fixed;
            bottom: -10px;
            right: 10px;
        }
        .bonus-buttons .button {
            height: 40px;
            position: relative;

            opacity: 0.75;

            align-items: flex-start;
        }
        .bonus-buttons .button:not(:last-child) {
            margin-right: 5px;
        }
        .bonus-buttons .button:hover {
            top: -9px;
        }
    </style>

    <h2 class="greeting title is-2">
        <span>{{ _('hello_user') }}</span>
        <span class="player">
            <span class="picture" style="background-image: url('{{ user.avatar_url }}')"></span>
            <span class="name" style="color: {{ user.color }};">
                {{ user.name }}
            </span>
            <a class="button is-primary" href="/profile">
                <span class="icon">
                    <i class="las la-paint-brush"></i>
                </span>
                <span>{{ _('edit_profile') }}</span>
            </a>
            <a class="button is-danger is-outlined" href="/profile/logout">
                <span class="icon">
                    <i class="las la-door-open"></i>
                </span>
                <span>{{ _('logout') }}</span>
            </a>
        </span>
    </h2>

    <div class="games-list">
        <h4 class="title is-4">
            {{ _('start_new_match') }}:
        </h4>
        {% for game in games %}
            <div class="card">
                <div
                    class="picture" style="background-image: url('{{
                        url_for('static', filename='media/games/' + game.get_internal_name() + '/menu-icon.png')
                    }}')"
                ></div>
                <div>{{ game.get_long_name() }}</div>
                <div class="overlay">
                    <a class="button is-primary" href="{{ 'new-game/' + game.get_internal_name() }}">
                        <span class="icon">
                            <i class="las la-angle-double-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="invite-hint">
        <h5 class="title is-5">
            ...{{ _('_or_join_a_match_via_link') }}.
        </h5>
    </div>

    <div class="bonus-buttons">
        <a class="button is-outlined" href="https://discordapp.com/channels/@me/{{ owner_discord_id }}">
            <span class="icon">
                <img src="{{ url_for('static', filename='media/discord-logo.svg') }}">
            </span>
            <span>{{ _('report_problem_or_feedback') }}</span>
        </a>
        <a class="button is-outlined" href="https://gitlab.com/LucaVazz/web-games">
            <span class="icon">
                <i class="lab la-gitlab"></i>
            </span>
            <span>Open Source</span>
        </a>
    </div>
{% endblock %}